.calendar_header_text {
  font-size: 25px;
  margin: 0px;
  font-family: sans-serif;
  display: inline;
  margin: 0;
  padding: 0;
}
.calendar_strip_main_container {
  margin: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
}
.calendar_strip_previous_next_button {
  height: 30px;
  min-width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
.calendar_strip_previous_next_button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.calendar_strip_container {
  display: flex;
  overflow: auto;
  gap: 10px;
  margin: 0 20px;
  transition: all 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.calendar_strip_container::-webkit-scrollbar {
  display: none;
}

.calendar_strip_card {
  min-width: 55px;
  height: 60px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
  transition: all 0.5s;
}
.calendar_strip_card:hover {
  background-color: #f0e3ff;
}
.selected_date {
  background-color: #d8b4fe;
}
.selected_date:hover {
  background-color: #d8b4fe;
}
.isDisabled_date {
  background-color: #bbbbbb;
  color: white;
}
.isDisabled_date:hover {
  background-color: #c6c6c6;
}
.day_name_text {
  font-size: 18px;
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}
.day_number_text {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  .calendar_strip_card {
    min-width: 50px;
    height: 55px;
  }
  .day_number_text {
    font-size: 16px;
  }
  .day_name_text {
    font-size: 16px;
  }
  .calendar_strip_previous_next_button {
    height: 25px;
    min-width: 25px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .calendar_strip_card {
    min-width: 45px;
    height: 50px;
  }
  .day_number_text {
    font-size: 14px;
  }
  .day_name_text {
    font-size: 14px;
  }
}
