.main_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inside_main_container {
    width: 80%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
  }
}
